/*/*.log
/*/*.con
/*/pid.txt
/*/log/
/*/__pycache__/
/*/output/
/*/core.*
/XServer/Bin/
/CTPTrader/flow/
/HFTraderCTP/flow/
/REMTrader/*.bin
/HFTraderREM/*.bin
/REMTrader/tool/*.log
/HFTraderREM/tool/*.log
/XDataPlayer/Market/
